In [25]:
import pandas as pd 
import numpy as np 

df = pd.read_csv("https://raw.githubusercontent.com/ml-nest/Hackerearth-To-all-the-money-we-ve-spent-before/master/train.csv")
print(df.columns)
print(df.info())

Index(['Deal_title', 'Lead_name', 'Industry', 'Deal_value', 'Weighted_amount',
       'Date_of_creation', 'Pitch', 'Contact_no', 'Lead_revenue',
       'Fund_category', 'Geography', 'Location', 'POC_name', 'Designation',
       'Lead_POC_email', 'Hiring_candidate_role', 'Lead_source',
       'Level_of_meeting', 'Last_lead_update', 'Internal_POC', 'Resource',
       'Internal_rating', 'Success_probability'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7007 entries, 0 to 7006
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Deal_title             7007 non-null   object
 1   Lead_name              7007 non-null   object
 2   Industry               7006 non-null   object
 3   Deal_value             6956 non-null   object
 4   Weighted_amount        6482 non-null   object
 5   Date_of_creation       7007 non-null   object
 6   Pitch                  7007 non-null   object
 7   Contact_no             7007 non-null   object
 8   Lead_revenue           7007 non-null   object
 9   Fund_category          7007 non-null   object
 10  Geography              6035 non-null   object
 11  Location               6996 non-null   object
 12  POC_name               6999 non-null   object
 13  Designation            7007 non-null   object
 14  Lead_POC_email         7007 non-null   object
 15  Hiring_candidate_role  7007 non-null   object
 16  Lead_source            7007 non-null   object
 17  Level_of_meeting       7007 non-null   object
 18  Last_lead_update       6374 non-null   object
 19  Internal_POC           7007 non-null   object
 20  Resource               6858 non-null   object
 21  Internal_rating        7007 non-null   int64
 22  Success_probability    7007 non-null   float64
dtypes: float64(1), int64(1), object(21)
memory usage: 1.2+ MB
None

In [26]:
df.describe() # only 2 numeric column

       Internal_rating  Success_probability
count      7007.000000          7007.000000
mean          3.009562            64.745133
std           1.418666            17.931635
min           1.000000            -5.000000
25%           2.000000            60.600000
50%           3.000000            65.300000
75%           4.000000            69.600000
max           5.000000           107.340000

In [27]:
# key column
df['Deal_title'].nunique()
id = 'Deal_title'

In [28]:
# Target Column
target = "Success_probability"

In [29]:
col_drop = ['Lead_name', 'Contact_no', 'Geography', 'Lead_POC_email', 'POC_name']
df = df.drop(col_drop, axis = 1)

In [30]:
df.columns

Index(['Deal_title', 'Industry', 'Deal_value', 'Weighted_amount',
       'Date_of_creation', 'Pitch', 'Lead_revenue', 'Fund_category',
       'Location', 'Designation', 'Hiring_candidate_role', 'Lead_source',
       'Level_of_meeting', 'Last_lead_update', 'Internal_POC', 'Resource',
       'Internal_rating', 'Success_probability'],
      dtype='object')

In [31]:
df['Industry'].nunique()

171

In [32]:
# as there is a null value in Industry column we can drop it
df = df[df['Industry'].notna()]
# Also this column will be sent to OHE if important

In [34]:
df['Deal_value'] = df['Deal_value'].str[:-1]
df['Deal_value'] = df['Deal_value'].astype('float64')

In [35]:
df['Weighted_amount'] = df['Weighted_amount'].str[:-1]
df['Weighted_amount'] = df['Weighted_amount'].astype('float64')

In [ ]:
df.Date_of_creation # use this column as numric integer

0       2020-03-29
1       2019-07-10
2       2019-07-27
3       2021-01-30
4       2019-05-22
           ...
7002    2020-12-07
7003    2020-03-13
7004    2020-03-10
7005    2019-12-26
7006    2020-04-27
Name: Date_of_creation, Length: 7006, dtype: object

In [ ]:
df.Pitch

0       Product_2
1       Product_2
2       Product_1
3       Product_2
4       Product_2
          ...
7002    Product_1
7003    Product_2
7004    Product_1
7005    Product_1
7006    Product_2
Name: Pitch, Length: 7006, dtype: object

In [38]:
for col in df:
    print(col,df[col].nunique())

Deal_title 7006
Industry 171
Deal_value 6906
Weighted_amount 6479
Date_of_creation 777
Pitch 2
Lead_revenue 3
Fund_category 4
Location 597
Designation 10
Hiring_candidate_role 639
Lead_source 4
Level_of_meeting 3
Last_lead_update 11
Internal_POC 60
Resource 6
Internal_rating 5
Success_probability 248